
{%- capture cdn -%}
    {%- if site.production -%}
        {{ site.cdn_url }}
    {%- endif -%}
{%- endcapture -%}

{%- capture srcset -%}
    {%- for i in resized -%}
        {{ cdn }}/{{ i.path }} {{ i.width }}w,
    {%- endfor -%}
{%- endcapture -%}

{% if thumb %}
    <img src="{{ cdn }}/assets/image/resized/100/{{original.basename}}"
         alt="{{ alt }}"
         title="{{ title }}"
         onclick="setImage('{{ name }}', '{{ cdn }}/assets/image/resized/475/{{original.basename}}')"/>
{% else %}
    <img src="{{ cdn }}/assets/image/resized/475/{{original.basename}}"
         alt="{{ alt }}"
         title="{{ title }}"
         name="{{ name }}"/>
{% endif %}
