---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Variables
$color-default: #3a3a3a;
$color-light: lighten($color-default, 65%);
$color-primary: #429bfc;
$color-secondary: #429bfc;
$color-background: #f8faff;
$color-secondary-background: #f0f5f6;

$size-unit: 8px;

@mixin max-width {
  max-width: 1000px;
}

@mixin single-column {
  @media screen and (max-width: 900px) {
    @content;
  }
}


// Default styling
* {
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: $size-unit * 2;
  color: $color-default;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $color-background;
}

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: bold;
  font-size: 2.5rem;
}

@mixin button-hover($color) {
  position: relative;
  z-index: 2;

  &:hover {
    transition: 0.2s all;
    background-color: darken($color, 10%);
    &:before {
      transform: scale(1.1, 1.5);
    }
  }

  &:before {
    content: " ";
    position: absolute;
    background-color: $color;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.16, 0.8, 0.66, 1.54);
  }
}

@mixin fit-to-layout-and-center {
  @include max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $size-unit * 3;
  padding-right: $size-unit * 3;
}

// Components
.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid $color-light;
  background-color: $color-secondary-background;

  &_container {
    display: flex;
    justify-content: center;
    @include fit-to-layout-and-center;
  }

  &_branding {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_logo {
    max-height: $size-unit*4;
    margin-right: $size-unit*1;
  }

  &_title {
    font-weight: bold;
    font-size: $size-unit * 3;
    cursor: pointer;
  }

  &_checkout {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
    svg {
      margin-right: $size-unit * 1;
    }
  }

  &_checkout-fill {
    fill: $color-primary;
  }
}

.main {
  padding: 2rem;
}

.products {
  @include max-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products div:first-of-type {
  margin-top: 0px !important;
}

.gallery {
  overflow: hidden;
  position: relative;
  width: 450px;
  margin: 60px 0 0 0;
  @include single-column {
    margin: 0;
    border-top: 1px solid $color-light;
  }
  & > img {
    width: 100%;
    border-radius: .5em;
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  & img {
    height: 70px;
    margin: 10px 10px 0 0;
    object-fit: cover;
    border-radius: .5em;
    cursor: pointer;
  }
}

.description {
  display: inline;
  max-width: 450px;
  @include single-column {
    padding: 0;
  }
  margin: auto;
  & > p {
    font-size: $size-unit * 2.5;
    line-height: $size-unit * 3.5;
  }
  & button {
    margin-bottom: 50px;
    @include single-column {
      margin-bottom: 25px;
    };
  }
  & hr {
    display: none;
    @include single-column {
      display: block;
      border: 0;
      border-top: 1px solid $color-light;
      padding-bottom: 25px;
    }
  }
}

.buy-button {
  all: unset;
  color: white;
  background-color: $color-primary;
  border: 1px solid darken($color-primary, 3%);
  text-shadow: 2px 2px 5px darken($color-primary, 3%);
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  padding: $size-unit * 2;
  padding-left: $size-unit * 3;
  padding-right: $size-unit * 3;
  margin-top: $size-unit * 2;
  @include button-hover($color-primary);
}

.footer {
  border-top: 1px solid $color-light;
  background-color: $color-secondary-background;
  margin-top: $size-unit * 12;
  &_content {
    display: flex;
    @include fit-to-layout-and-center();
    padding-top: $size-unit * 4;
    padding-bottom: $size-unit * 4;
  }

  &_socials {
    margin-left: auto;
  }
}

.pinned-footer {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.snipcart-modal__container {
  top: 90px !important;
}

